## 한글설치

In [1]:
from matplotlib import rc, font_manager as fm

# 나눔고딕 폰트 경로 설정
font_path = '../나눔고딕/NanumFontSetup_TTF_GOTHIC/NanumGothic.ttf'
font_name = fm.FontProperties(fname=font_path).get_name()

# 폰트 설정
rc('font', family=font_name)

# Import Lib

In [2]:
import pandas as pd

## EDA

In [3]:
df1 = pd.read_csv('data/가구원수별+가구-+읍면동(연도+끝자리+0,5),+시군구(그+외+연도)_20231015105706.csv')
df1

     자치구   행정동  1인가구  2인가구  3인가구  4인가구  5인가구  6인가구  7인 이상 가구
0    종로구   사직동  1487  1073   701   432   112    28         6
1    종로구   삼청동   380   295   189   112    39    11         5
2    종로구   부암동  1129  1089   772   552   176    39        16
3    종로구   평창동  1302  1891  1500  1156   337    62        17
4    종로구   무악동   494   792   744   657   169    20         7
..   ...   ...   ...   ...   ...   ...   ...   ...       ...
420  강동구  둔촌1동     6     0     0     0     0     0         0
421  강동구  둔촌2동  2389  2763  2407  1924   380    61        16
422  강동구  암사1동  4551  4008  3064  2229   464    89        26
423  강동구  천호2동  6378  4433  2689  1710   380    84        27
424  강동구    길동  6909  5261  3850  2722   592   136        39

[425 rows x 9 columns]

In [4]:
df2 = pd.read_csv('data/서울_행정동_법정동_맵핑데이터.csv')
df2

    CTPV_NM CTGG_NM LGDNG_NM    LGDNG_CD ADSTRD_NM   ADSTRD_CD
0     서울특별시     종로구      종로구  1111000000       종로구  1111000000
1     서울특별시     종로구      청운동  1111010100     청운효자동  1111051500
2     서울특별시     종로구      신교동  1111010200     청운효자동  1111051500
3     서울특별시     종로구      궁정동  1111010300     청운효자동  1111051500
4     서울특별시     종로구      효자동  1111010400     청운효자동  1111051500
..      ...     ...      ...         ...       ...         ...
761   서울특별시     강동구      성내동  1174010800      성내2동  1174065000
762   서울특별시     강동구      성내동  1174010800      성내3동  1174066000
763   서울특별시     강동구       길동  1174010500        길동  1174068500
764   서울특별시     강동구      둔촌동  1174010600      둔촌1동  1174069000
765   서울특별시     강동구      둔촌동  1174010600      둔촌2동  1174070000

[766 rows x 6 columns]

In [5]:
df3 = df2[['ADSTRD_NM','ADSTRD_CD']]
print(df3)
df4 = df3.drop_duplicates(ignore_index=True)

    ADSTRD_NM   ADSTRD_CD
0         종로구  1111000000
1       청운효자동  1111051500
2       청운효자동  1111051500
3       청운효자동  1111051500
4       청운효자동  1111051500
..        ...         ...
761      성내2동  1174065000
762      성내3동  1174066000
763        길동  1174068500
764      둔촌1동  1174069000
765      둔촌2동  1174070000

[766 rows x 2 columns]

In [6]:
df2['CTGG_NM'].value_counts()

CTGG_NM
종로구     94
중구      93
성북구     54
영등포구    46
마포구     42
용산구     39
강서구     34
강남구     32
송파구     31
서대문구    27
서초구     24
성동구     24
관악구     22
노원구     20
강동구     20
양천구     19
구로구     19
동작구     19
은평구     17
중랑구     17
동대문구    16
광진구     16
도봉구     15
강북구     15
금천구     11
Name: count, dtype: int64

In [7]:
dkdk = df2[df2['CTGG_NM'] == '종로구']
dkdk['ADSTRD_NM'].value_counts()

ADSTRD_NM
종로1.2.3.4가동    29
사직동            12
청운효자동          10
삼청동             7
교남동             6
혜화동             6
종로5.6가동         5
가회동             4
부암동             3
이화동             3
평창동             2
창신2동            1
숭인1동            1
창신3동            1
종로구             1
창신1동            1
무악동             1
숭인2동            1
Name: count, dtype: int64

In [8]:
result = pd.merge(df1, df4, left_on='행정동', right_on='ADSTRD_NM', how='left')
result['ADSTRD_CD'] = result['ADSTRD_CD'].astype(str).str[0:8]
result = result.rename(columns={'ADSTRD_CD': '행정동_코드'})
result1 = result[['자치구', '행정동', '행정동_코드', '1인가구', '2인가구', '3인가구', '4인가구', '5인가구', '6인가구', '7인 이상 가구']]

In [9]:
result1.to_csv('행정동_가구인원별_통계.csv', encoding='utf-8-sig', index=False)

In [10]:
df4.to_csv('행정동_맵핑용_중복제거.csv', encoding='utf-8-sig', index=False)

In [11]:
data1 = pd.read_csv('data/식품위생업소법정동용.csv')
data1

,자치구_코드,업종_분류,업태_분류,행정동,주소,동
0,3000000,일반음식점,한식,종로1.2.3.4가동,서울특별시 종로구 관훈동 198번지 10호 외1필지,관훈동
1,3000000,일반음식점,분식,종로1.2.3.4가동,서울특별시 종로구 낙원동 218번지 1호,낙원동
2,3000000,일반음식점,한식,종로1.2.3.4가동,서울특별시 종로구 와룡동 166번지 0호,와룡동
3,3000000,일반음식점,중국식,사직동,서울특별시 종로구 당주동 18번지 0호,당주동
4,3000000,일반음식점,분식,이화동,서울특별시 종로구 동숭동 25번지 10호,동숭동
...,...,...,...,...,...,...
2857636,3150000,휴게음식점,커피숍,우장산동,서울특별시 강서구 내발산동 702번지 1호 1층,내발산동
2857637,3150000,일반음식점,호프/통닭,화곡제1동,서울특별시 강서구 화곡동 357번지 22호 (지상 1층),화곡동
2857638,3150000,식품자동판매기영업,식품자동판매기영업,가양제3동,서울특별시 강서구 가양동 1485번지 가양마트(1층),가양동
2857639,3150000,일반음식점,일식,화곡본동,서울특별시 강서구 화곡동 24번지 344호,화곡동
2857640,3150000,일반음식점,한식,가양제1동,서울특별시 강서구 가양동 115번지 11호 (지상 1층),가양동

In [12]:
data1['업태_분류'].value_counts()

업태_분류
한식           637045
즉석판매제조가공업    211677
기타           160018
커피숍          150960
식품등 수입판매업    133504
              ...
산후조리원            23
PB제품 제조업체        21
도시락제조업           12
집단급식소            12
고속도로              7
Name: count, Length: 94, dtype: int64

# 전체 데이터를 엑셀로 빠르게 파악
### =>업태 삭제 수입업/판매업

In [13]:
# # 데이터프레임의 전체 길이를 확인합니다.
# total_length = len(data1)

# # 나눌 크기를 정합니다.
# chunk_size = 955000

# # 데이터를 나누어 저장합니다.
# for i in range(0, total_length, chunk_size):
#     result_chunk = data1.iloc[i:i+chunk_size]
    
#     # 파일 이름을 지정합니다. 예: chunk_1.csv, chunk_2.csv, ...
#     file_name = f'chunk_{i//chunk_size + 1}.csv'
    
#     # CSV 파일로 저장합니다.
#     result_chunk.to_csv(file_name, encoding='utf-8-sig', index=False)

In [14]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2857641 entries, 0 to 2857640
Data columns (total 6 columns):
 #   Column  Dtype
---  ------  -----
 0   자치구_코드  int64
 1   업종_분류   object
 2   업태_분류   object
 3   행정동     object
 4   주소      object
 5   동       object
dtypes: int64(1), object(5)
memory usage: 130.8+ MB

In [15]:
data2 = data1[data1['업태_분류'] != '식품등 수입판매업']
data2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2724137 entries, 0 to 2857640
Data columns (total 6 columns):
 #   Column  Dtype
---  ------  -----
 0   자치구_코드  int64
 1   업종_분류   object
 2   업태_분류   object
 3   행정동     object
 4   주소      object
 5   동       object
dtypes: int64(1), object(5)
memory usage: 145.5+ MB

In [16]:
data3 = data2[data2['업태_분류'] != '건강기능식품수입업']
data3

,자치구_코드,업종_분류,업태_분류,행정동,주소,동
0,3000000,일반음식점,한식,종로1.2.3.4가동,서울특별시 종로구 관훈동 198번지 10호 외1필지,관훈동
1,3000000,일반음식점,분식,종로1.2.3.4가동,서울특별시 종로구 낙원동 218번지 1호,낙원동
2,3000000,일반음식점,한식,종로1.2.3.4가동,서울특별시 종로구 와룡동 166번지 0호,와룡동
3,3000000,일반음식점,중국식,사직동,서울특별시 종로구 당주동 18번지 0호,당주동
4,3000000,일반음식점,분식,이화동,서울특별시 종로구 동숭동 25번지 10호,동숭동
...,...,...,...,...,...,...
2857636,3150000,휴게음식점,커피숍,우장산동,서울특별시 강서구 내발산동 702번지 1호 1층,내발산동
2857637,3150000,일반음식점,호프/통닭,화곡제1동,서울특별시 강서구 화곡동 357번지 22호 (지상 1층),화곡동
2857638,3150000,식품자동판매기영업,식품자동판매기영업,가양제3동,서울특별시 강서구 가양동 1485번지 가양마트(1층),가양동
2857639,3150000,일반음식점,일식,화곡본동,서울특별시 강서구 화곡동 24번지 344호,화곡동
2857640,3150000,일반음식점,한식,가양제1동,서울특별시 강서구 가양동 115번지 11호 (지상 1층),가양동

In [17]:
null_rows = data3[data3['행정동'].isnull()]
null_rows

Empty DataFrame
Columns: [자치구_코드, 업종_분류, 업태_분류, 행정동, 주소, 동]
Index: []

In [18]:
result2 = pd.merge(data3, df4, left_on='행정동', right_on='ADSTRD_NM', how='left')
result2

,자치구_코드,업종_분류,업태_분류,행정동,주소,동,ADSTRD_NM,ADSTRD_CD
0,3000000,일반음식점,한식,종로1.2.3.4가동,서울특별시 종로구 관훈동 198번지 10호 외1필지,관훈동,종로1.2.3.4가동,1.111062e+09
1,3000000,일반음식점,분식,종로1.2.3.4가동,서울특별시 종로구 낙원동 218번지 1호,낙원동,종로1.2.3.4가동,1.111062e+09
2,3000000,일반음식점,한식,종로1.2.3.4가동,서울특별시 종로구 와룡동 166번지 0호,와룡동,종로1.2.3.4가동,1.111062e+09
3,3000000,일반음식점,중국식,사직동,서울특별시 종로구 당주동 18번지 0호,당주동,사직동,1.111053e+09
4,3000000,일반음식점,분식,이화동,서울특별시 종로구 동숭동 25번지 10호,동숭동,이화동,1.111064e+09
...,...,...,...,...,...,...,...,...
2736194,3150000,휴게음식점,커피숍,우장산동,서울특별시 강서구 내발산동 702번지 1호 1층,내발산동,우장산동,1.150062e+09
2736195,3150000,일반음식점,호프/통닭,화곡제1동,서울특별시 강서구 화곡동 357번지 22호 (지상 1층),화곡동,NaN,NaN
2736196,3150000,식품자동판매기영업,식품자동판매기영업,가양제3동,서울특별시 강서구 가양동 1485번지 가양마트(1층),가양동,NaN,NaN
2736197,3150000,일반음식점,일식,화곡본동,서울특별시 강서구 화곡동 24번지 344호,화곡동,화곡본동,1.150059e+09
2736198,3150000,일반음식점,한식,가양제1동,서울특별시 강서구 가양동 115번지 11호 (지상 1층),가양동,NaN,NaN

In [19]:
result2[result2['ADSTRD_NM'].isnull()]

,자치구_코드,업종_분류,업태_분류,행정동,주소,동,ADSTRD_NM,ADSTRD_CD
39,3000000,일반음식점,분식,창신제1동,서울특별시 종로구 창신동 464번지 22호,창신동,NaN,NaN
42,3000000,일반음식점,한식,창신제1동,서울특별시 종로구 창신동 444번지 5호,창신동,NaN,NaN
59,3000000,일반음식점,한식,숭인제1동,서울특별시 종로구 숭인동 1239번지,숭인동,NaN,NaN
81,3000000,일반음식점,분식,숭인제1동,서울특별시 종로구 숭인동 699번지,숭인동,NaN,NaN
92,3000000,일반음식점,한식,숭인제1동,서울특별시 종로구 숭인동 313번지 7호,숭인동,NaN,NaN
...,...,...,...,...,...,...,...,...
2736191,3150000,일반음식점,"외국음식전문점(인도,태국등)",가양제1동,서울특별시 강서구 마곡동 795번지 2호 외 1필지 마곡아이파크 (지상 1층)-113,마곡동,NaN,NaN
2736193,3150000,휴게음식점,일반조리판매,방화제2동,서울특별시 강서구 방화동 588번지 36호 1층,방화동,NaN,NaN
2736195,3150000,일반음식점,호프/통닭,화곡제1동,서울특별시 강서구 화곡동 357번지 22호 (지상 1층),화곡동,NaN,NaN
2736196,3150000,식품자동판매기영업,식품자동판매기영업,가양제3동,서울특별시 강서구 가양동 1485번지 가양마트(1층),가양동,NaN,NaN
2736198,3150000,일반음식점,한식,가양제1동,서울특별시 강서구 가양동 115번지 11호 (지상 1층),가양동,NaN,NaN

In [20]:
# 데이터프레임의 전체 길이를 확인합니다.
total_length = len(result2)

# 나눌 크기를 정합니다.
chunk_size = 955000

# 데이터를 나누어 저장합니다.
for i in range(0, total_length, chunk_size):
    result_chunk = result2.iloc[i:i+chunk_size]
    
    # 파일 이름을 지정합니다. 예: chunk_1.csv, chunk_2.csv, ...
    file_name = f'chunk_{i//chunk_size + 1}.csv'
    
    # CSV 파일로 저장합니다.
    result_chunk.to_csv(file_name, encoding='utf-8-sig', index=False)

In [21]:
data1['업종_분류'].value_counts()

업종_분류
일반음식점            1443761
휴게음식점             410653
건강기능식품일반판매업       247484
즉석판매제조가공업         211821
식품등 수입판매업         133495
집단급식소              73531
식품자동판매기영업          70723
제과점영업              45977
유통전문판매업            39402
단란주점               31166
건강기능식품수입업          24714
유흥주점영업             24551
식품소분업              24050
식품제조가공업            21510
건강기능식품유통전문판매업      17166
위탁급식영업             15045
기타식품판매업             8996
집단급식소식품판매업          8609
식품운반업               3321
용기.포장지제조업            831
식용얼음판매업              475
식품첨가물제조업             252
식품냉동.냉장업             108
Name: count, dtype: int64

In [28]:
DF = pd.read_csv('data/행정동_단위_거주인구_데이터_2019이후.csv')
DF.head(30)

       행정동코드    행정동  성별코드 연령대코드  거주인구수   자치구    연도  월
0   11500560   화곡3동     1     4    361   강서구  2019  3
1   11200560   행당1동     1     4    296   성동구  2019  3
2   11170685    한남동     1     4    297   용산구  2019  3
3   11590630   사당2동     1     4    540   동작구  2019  3
4   11140680    중림동     1     4    314    중구  2019  3
5   11260580   상봉1동     1     4    464   중랑구  2019  3
6   11350612   하계2동     1     4    349   노원구  2019  3
7   11710561   방이1동     1     4    268   송파구  2019  3
8   11740600   천호1동     1     4    415   강동구  2019  3
9   11440660    서교동     1     4    283   마포구  2019  3
10  11590650   사당4동     1     4    249   동작구  2019  3
11  11230740   이문1동     1     4    187  동대문구  2019  3
12  11260630    묵2동     1     4    331   중랑구  2019  3
13  11500590   화곡본동     1     4    684   강서구  2019  3
14  11680610   대치2동     1     4    339   강남구  2019  3
15  11200520  왕십리2동     1     4    371   성동구  2019  3
16  11590680  신대방2동     1     4    396   동작구  2019  3
17  11710550   마천2동     1     4    235   송파구  2019  3
18  11110650    혜화동     1     4    141   종로구  2019  3
19  11650531   서초4동     1     4    575   서초구  2019  3
20  11710540   마천1동     1     4    245   송파구  2019  3
21  11440600    대흥동     1     4    102   마포구  2019  3
22  11470590   신월4동     1     4    382   양천구  2019  3
23  11290580   돈암1동     1     4    234   성북구  2019  3
24  11230600  답십리1동     1     4    779  동대문구  2019  3
25  11290780   장위3동     1     4    189   성북구  2019  3
26  11680700    세곡동     1     4   1002   강남구  2019  3
27  11620645    서원동     1     4    248   관악구  2019  3
28  11350630   상계1동     1     4    631   노원구  2019  3
29  11110570    무악동     1     4    135   종로구  2019  3

In [37]:
DF1 = DF[DF['연도'] == 2021]
DF1

           행정동코드    행정동  성별코드 연령대코드  거주인구수   자치구    연도   월
427392  11110530    사직동     1     4    112   종로구  2021   1
427393  11350670   상계5동     1     4    223   노원구  2021   1
427394  11440690   망원1동     1     4    240   마포구  2021   1
427395  11560670   신길5동     1     4    205  영등포구  2021   1
427396  11410685   홍은2동     1     4    291  서대문구  2021   1
...          ...    ...   ...   ...    ...   ...   ...  ..
640761  11740560   고덕2동     2   I00      1   강동구  2021  10
640762  11290575    동선동     2   I00      5   성북구  2021  10
640763  11590510  노량진1동     2   I00      4   동작구  2021  10
640764  11380590   응암2동     2   I00     14   은평구  2021  10
640765  11710720   잠실7동     2   I00      4   송파구  2021  10

[195636 rows x 8 columns]

In [44]:
DF1['월'].value_counts()

월
1     17808
2     17808
4     17808
5     17808
6     17808
7     17766
8     17766
9     17766
11    17766
12    17766
10    17766
Name: count, dtype: int64