# 필요한 일
- 특정 좌표를 반경으로 해당 반경하는 점 1,2,3 ..들을 찾고
- => 해당 점 1,2,3 들의 값을 파악(예컨대, 해당 점 위치의 상주인구)
- => 특정 좌표 반경의 상주인구 수를 합산, 또한 집객시설도 추후 합산(이건 아마 단순 count가 될듯)
- 특정 좌표를 임의로 찍을지 vs 특정 좌표를 특정 구의 특정 행정동 전체를 격자모양으로 나눠서 전수조사
    - 지역구의 대상 행정동을 정하는 방법은 폐플라스틱, 고철 캔의 수가 많은 동 선택 예정(N개 미정)

## 예시 데이터 프레임 만들기 그냥 강남구청 근처 반경 1km로 예시

In [9]:
# 실제 x,y 좌표는 가져왔지만 그 외 데이터는 그냥 완전 랜덤.
import pandas as pd
data = [['빌라', 20, '1','2'],
        ['빌라', 20, '1','2'],
        ['빌라', 20, '1','2'],
        ['빌라', 20, '1','2'],
        ['빌라', 20, '1','2'],
        ['빌라', 20, '1','2'],
        ['빌라', 20, '1','2'],
        ['빌라', 20, '1','2'],
        ['빌라', 20, '1','2'],
        ['빌라', 20, '1','2']]

df = pd.DataFrame(data, columns=['건물 종류', '거주 인구', 'X_좌표', 'Y_좌표'])
df

  건물 종류  거주 인구 X_좌표 Y_좌표
0    빌라     20    1    2
1    빌라     20    1    2
2    빌라     20    1    2
3    빌라     20    1    2
4    빌라     20    1    2
5    빌라     20    1    2
6    빌라     20    1    2
7    빌라     20    1    2
8    빌라     20    1    2
9    빌라     20    1    2